In [12]:
print ("hello world")

#Run a code using Shift + Enter

hello world

In [2]:
anmol = 100

In [3]:
anmol

100

In [4]:
anjali = 45.2

In [6]:
anjali

45.2

In [7]:
book_name = "Top Visionaries"

In [8]:
book_name

'Top Visionaries'

- python is a dymnically typed language

In [13]:
#code

a = 1
b = 2

a+b

3

#marrkdown for notes->

Hey Guys there are our notes

#Raw NB convert

if abc == 2:

 pass

#                                # Heading tag for our notes and code

In [20]:
 name1 = "Riyazz"

In [16]:
name1.lower()

'riyaz'

In [23]:
name1.count("z")

2

# List   -ordered sequnce of list ["apple","mango"]

In [24]:
lst = [12,45.2,"helloworld",[34,45]]

In [25]:
lst

[12, 45.2, 'helloworld', [34, 45]]

In [26]:
type(lst)

list

In [27]:
lst[2]

'helloworld'

In [28]:
lst[3][1]

45

# Dictionaries

-Unordered key values pairs

-Just like our normal dictionary have word and some value attached to that word,

-The same way we will have key attachted to a value

-We will access the values using those key

-Those keys will also act as our house number

In [29]:
dit = {"key":100,"key2":56,"key3":78}

In [31]:
dit["key"]

100

In [32]:
dit.get("key")

100

In [33]:
dit_person_detail = {"name":"riyaz","email":"mohamedriyaz93@gmail.com","mobile":9994064182,"age":5}

In [34]:
dit_person_detail.get("name")

'riyaz'

In [35]:
dit.keys()

dict_keys(['key', 'key2', 'key3'])

In [36]:
dit.items()

dict_items([('key', 100), ('key2', 56), ('key3', 78)])

In [38]:
dit.copy()

{'key': 100, 'key2': 56, 'key3': 78}

# Sets

-Remeber ur 8th class maths ?

-you had set in that?

-Which used to have all the unique values from all the collection

-The same way python has a data type which stores uniques values from the given collection of data type

-Sets are been used for user auth and while working with excel data to remove duplicate from the data

In [39]:
sts = {1,2,3,4,5,1,3,1,45,1,1,2,3,4,1,45,"sai","riyaz","sai"}

In [40]:
sts

{1, 2, 3, 4, 45, 5, 'riyaz', 'sai'}

In [41]:
tup = (1,2,3,4,4)

In [42]:
tup

(1, 2, 3, 4, 4)

In [43]:
tup.count(4)

2

In [44]:
tup.index(3)

2

In [45]:
tup.index(4)

3